<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <html>
      <head>
        <meta charset="utf-8" />
        <!-- Responsive Coding Created By Shift Media Solutions| https://shiftmediaegy.blogspot.com -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="responsive checkout form<" />
        <meta name="author" content="Shift Media" />
        <title>responsive checkout by</title>
        <link
          href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
          rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="styles.css" />
      </head>

      <body>
        <header>
          <div class="heading-shift">
            <h1>
              <span class="highlight"
                >responsive checkout form by <%=name%></span
              >
              | Web Design
            </h1>
          </div>
        </header>
        <section>
          <div class="container-shift">
            <form>
              <div class="row">
                <div class="col-50">
                  <h3>billing address</h3>
                  <fieldset>
                    <label for="full_name">full name</label>
                    <input
                      type="text"
                      name=""
                      id="full_name"
                      placeholder="Shift Media"
                    />
                    <label for="mail">e-mail</label>
                    <input
                      type="email"
                      name=""
                      id="mail"
                      placeholder="shiftmedia@example.com"
                    />
                    <label for="address">address</label>
                    <input
                      type="text"
                      name=""
                      id="address"
                      placeholder="15th Street ,Alex,Egypt"
                    />
                    <label for="city">city</label>
                    <input
                      type="text"
                      name=""
                      id="city"
                      placeholder="Alexandria"
                    />
                  </fieldset>
                  <!-- Responsive Html Coding Created By Shift Media Solutions| SMS -->
                  <div class="row">
                    <div class="col-50">
                      <fieldset>
                        <label for="state">state</label>
                        <input
                          type="text"
                          name=""
                          id="state"
                          placeholder="Egypt"
                        />
                      </fieldset>
                    </div>
                    <div class="col-50">
                      <fieldset>
                        <label for="zip">zip</label>
                        <input
                          type="text"
                          name=""
                          id="zip"
                          placeholder="20009"
                        />
                      </fieldset>
                    </div>
                  </div>
                </div>
                <!-- Responsive Html Coding Created By Shift Media Solutions| SMS -->
                <div class="col-50">
                  <h3>Payment</h3>
                  <label>Accepted Cards</label>
                  <ul class="cards_list">
                    <li><i class="fab fa-cc-visa"></i></li>
                    <li><i class="fab fa-cc-amex"></i></li>
                    <li><i class="fab fa-cc-mastercard"></i></li>
                    <li><i class="fab fa-cc-discover"></i></li>
                  </ul>
                  <fieldset>
                    <label for="name_card"> name on card</label>
                    <input
                      type="text"
                      name=""
                      id="name_card"
                      placeholder="Shift Media"
                    />
                    <label for="card_num">credit card number</label>
                    <input
                      type="text"
                      name=""
                      id="card_num"
                      placeholder="1111-2222-3333-4444"
                    />
                    <label for="exp_month">exp month</label>
                    <input
                      type="text"
                      name=""
                      id="exp_month"
                      placeholder="June"
                    />
                  </fieldset>
                  <div class="row">
                    <div class="col-50">
                      <fieldset>
                        <label for="ex_year">exp year</label>
                        <input
                          type="text"
                          name=""
                          id="ex_year"
                          placeholder="2025"
                        />
                      </fieldset>
                    </div>
                    <div class="col-50">
                      <fieldset>
                        <label for="cvv">cvv</label>
                        <input type="text" name="" id="cvv" placeholder="729" />
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Responsive Html Coding Created By Shift Media Solutions| SMS -->
              <div class="row">
                <div class="col-12">
                  <div class="checkBox">
                    <label>
                      <input
                        type="checkbox"
                        checked="checked"
                        name=""
                      />Shipping address same as billing
                    </label>
                  </div>
                  <div class="submit_btn">
                    <input
                      type="submit"
                      name=""
                      value="Continue to checkout"
                      class="btn"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <footer>
          <div class="footer-shift">
            <h2>
              <span><strong>This Design Created By</strong>:</span>
              <a target="_blank" href="https://shiftmediaegy.blogspot.com/"
                >&copy; 2024 Shift Media. </a
              ><span><strong>All Rights Reserved</strong>.</span>
            </h2>
          </div>
        </footer>
        <script src="js/index.js"></script>
      </body>
    </html>
  </body>
</html>
